@use "../../mixins/breakpoints" as b;

.task-module__image img {
  width: 100%;
  margin-bottom: 1rem;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  max-height: inherit;
  max-width: inherit;
}

@include b.breakpoint-up("sm") {
  .task-module__image {
    max-height: 330px;
    max-width: 330px;
    margin-bottom: 0;
  }

  .task-module__image img {
    aspect-ratio: 1 / 1;
  }
}

@include b.breakpoint-up("lg") {
  .task-module__image {
    flex: initial;
    max-width: 505px;
    max-height: 330px;
    width: 100%;
  }
  .task-module__image img {
    aspect-ratio: initial;
  }
}
