@use "../../mixins/breakpoints" as b;

.task-module__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & p {
    margin-bottom: clamp(1.5rem, 3vw, 2rem);
  }
}

@include b.breakpoint-up("sm") {
  .task-module__text-container {
    padding-block: 1rem;
    width: 100%;
    max-width: 380px;
  }

  .task-module__text-container .button {
    width: min-content;
  }
}
