@use "../../variables/colors" as c;

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(c.$black, 0.5);
  display: none;
  min-width: 300px;
  max-height: 100vh;
  transition: opacity 0.15s linear;
}

.modal:not(.show) {
  opacity: 0;
}
