$beige--300: hsl(21, 50%, 90%);
$beige--400: hsl(21, 50%, 79%);
$beige--500: hsl(21, 20%, 60%);

$black: hsl(0, 0%, 7%);
$white: hsl(0, 100%, 100%);

$red--300: hsl(354, 81%, 80%);
$red--400: hsl(354, 81%, 56%);
$red--500: hsl(354, 81%, 40%);
